.navBox{
    height: 5rem;
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    padding: 0 10px;
}

.placeHeading{
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.navList{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navItems{
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 13px;
}

.link{
    text-decoration: none;
}

a{
    text-decoration: none;

}