.spinnerContainer{
    position: fixed;
    top: 50vh;
    left: 50%;
} 

.spinner{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

/* .spinner:after{
    content: '';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border:5px solid  #510077;
    border-color:#510077 transparent #510077 transparent ;
    animation: spinner 1.2s linear infinite ;

} */