.userPlaceItem{
    padding: 50px 0;
    
}

.userPlaceItemBox{
    position: relative;
    background-color: white;
    width: 442px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: 6px 11px 17.5px rgb(0,0,0.5);}

    .user_padding_box{
        padding: 10px 0px 0px 10px;
    }

.user_placeText{
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    overflow: hidden;
    margin: 20px 10px 20px 30px;
}

    .userPlaceImg{
        height: 470px;
        width: 100%;
        background-position: center;
        background-size: cover;
    }

    .btnContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 30%;
    }

    .btn{
        padding: 8px 5px;
        margin: 5px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 11px;
        font-weight: 600;
        transition: border 300ms;
        cursor: pointer;
        
    }

    

    .title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    }

    .description{
        font-size: 15px;
    }

    .user_placeText{
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    overflow: hidden;
    margin: 22px 9px 0;
    }

    .svgImg{
        height: 15px;
        width: 15px;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 27px;
        right: 15px;
    }
    .svgCancel{
        height: 13px;
        width: 10px;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 8px;
        right: 7px;
    }

    .place_model{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 69px;
        height: 73px;
        border-radius: 0px;
        position: absolute;
        right: 0;
        background-color: #F2F3F5;
    }

    .place_model_header{
        display: none;
    }

    .place_btn_edit{
        background-color: unset;
        font-size: 12px;
    }

    @media screen and (max-width: 800px){
        .userPlaceItemBox{
            width: 90%;
            margin: 0 auto;
        }

        .userPlaceImg{
            height: 353px;
        }
    }

    