.userItems{
    background-color: #6c757d;
    height: 158px;
    height: 158px;
    padding: 0 21px;
    display: flex;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 6px 11px 17.5px rgb(0,0,0.5);}

.placeImg{
    height: 100px;
    width: 100px;
    border-radius: 50%; 
    background-position: center;
    background-size: cover;
}

.placeText{
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    width: 182px;
    overflow: hidden;
    margin: 20px 10px 20px 30px;
}

.name{
    color: white;
}

@media screen and (max-width: 800px){
    .userItems{
        width: 89%;
        margin: 20px auto;
        padding: 0 10px;
    }

    .placeText{
        margin: 10px;
        width: 150px;
    }
}