.form{
    display: flex;
    flex-direction: column;
    margin:30px auto;
    align-items: center;
}

.formbtn{
    width: 60%;
    margin: 0px auto 23px;
    border: 1px solid orangered;
    cursor: pointer;

}

.formbtn:hover{
    border: 1px solid rgb(117, 11, 11);
}